
    .text
    {
      text-align: center;  
    }
    #b1
{
    margin-left: 20rem;
}
.i
{
    border-radius: 5rem;
}
#headoo
{
    margin-left: 300px;
}
body{
    background-image: url("https://previews.123rf.com/images/vectomart/vectomart1210/vectomart121000059/15803400-illustration-of-different-shopping-bag-on-sale-background.jpg");
}











