<br/>

    <table>
        <img src="assets/logee.jpg" alt="LOGO" height="170" width="170">    
 <tr>itemid:          {{item.itemid}}</tr>
<tr>itemName: {{item.itemName}}</tr>
<!--<tr>subcategoryid:   {{item.subcategoryid}}</tr>
<tr>ItemName:        {{item.itemName}}</tr>
<tr>Manfacture:      {{item.manfacture}}</tr>
<tr>itemDescription: {{item.itemDescription}}</tr>
<tr>Model:           {{item.model}}</tr>
<tr>Quantity:        {{item.quantity}}</tr>
<tr>Price:           {{item.itemCost}}</tr>
<tr>Sellerid:        {{item.sellerid}}</tr>-->
</table>

<br/>
<button type="=button" class="btn btn-success" (click)="onSave(item.itemid)" >AddCart</button>
