<div *ngIf="product">
    <div>
      <label> categoryid: </label> {{product.categoryid}}
    </div>
    <div>
      <label>subcategoryid </label> {{product.subcategoryid}}
    </div>
    <div>
      <label>itemCost: </label> {{product.itemCost}}
    </div>
    <div>
        <label>itemName: </label> {{product.itemName}}
      </div>
      <div>
        <label>itemDescription: </label>{{product.itemDescription}}
      </div>
      <div>
        <label>itemDescription: </label>{{product.itemDescription}}
      </div>
      <div>
        <label>quantity: </label>{{product.quantity}}
      </div>
      <div>
        <label>model: </label>{{product.model}}
      </div>
      <div>
        <label>manfacture: </label>{{product.manfacture}}
      </div>
      <div>
        <label>sellerid: </label>{{product.sellerid}}
      </div>
      
    <hr/>
    </div>

