
<div *ngIf="seller">
    <div>
        <label>USerName: </label> {{seller.username}}
      </div>
      <div>
        <label>Password </label> {{seller.password}}
      </div>
      <div>
        <label>CompanyName </label> {{seller.companyname}}
      </div>
      <div>
        <label>GSTIN </label>{{seller.gstin}}
      </div>
      <div>
        <label>BriefAboutCompany </label> {{seller.briefaboutcompany}}
      </div>
      <div>
        <label>Website </label> {{seller.website}}
      </div>
      <div>
        <label>EmailId: </label> {{seller.emailId}}
      </div>
      <div>
          <label>ContactNumber: </label> {{seller.contactnumber}}
        </div>
        <div>
          <label>Address: </label>{{seller.address}}
        </div>
<hr/>
</div>  
